@import "global";
@import "mixin";

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:0;
    top:0;
    width: 100vw;
    height: 100vh;
    background-color: $sormei;
    z-index: 3;
   

}
.login-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    height: 80%;
    box-shadow: 1px 2px 5px 10px rgba(255, 255, 255, 0.24);
    border-radius: 10px;
    padding: 1rem 10px;

    h2{
        margin: 2rem 0;
    }
    
}

